extends ../layouts/default

block content
    .dashboard.container
        .section#perfil
          h4 Olá #{user.name.full}
          form.section
            .row
              .col.s12.m6
                h5 Informação Pessoal
                .section
                  .input-field
                    input(id='name_first', type='text', class='validate', name='name.first', value=formData.name.first)
                    label(for='name_first') Nome
                  .input-field
                    input(id='name_last', type='text', class='validate', name='name.last', value=formData.name.last)
                    label(for='name_last') Apelido
                  .input-field
                    input(id='email', type='email', class='validate', name='email', value=formData.email)
                    label(for='email') Email    
              .col.s12.m6
                h5 Formas de Pagamento
                .section
            //.row
              .col.s12
                h5 Informação Pública
                p Informação que podemos passar ao restaurante
                .input-field
                  input(value)
              
            .row
              .col.s12
                button.btn(type='submit') Guardar
                
          .section
            button.btn-flat.waves-effect(type='button') Mudar Password
                  
              

        #reserves
            h4 As suas reservas
            if data.reserv
                ul.collapsible.popout(data-collapsible="accordion")
                    each r in data.reserv
                        li
                            .collapsible-header
                                span.title
                                    strong #{r.restaurant.name}
                                    | , #{r._.date.moment().fromNow()}
                                .right                 
                                    case r.state
                                        when 'null'
                                            i.material-icons error
                                        when 'sent'
                                            i.material-icons call_made
                                        when 'confirmed'
                                            i.material-icons done
                                        when 'denied'
                                            i.material-icons remove
                                        when 'ended'
                                            i.material-icons done_all
                                        default
                                            i.material-icons error

                            .collapsible-body
                                p Reserva para #{r.party_size} pessoas no #{r.restaurant.name}, dia #{r._.date.moment().calendar()}.
                                    br
                                    | Criada a: #{r._.createdAt.format('L')}
                                    br
                                    if r.restResponse.date
                                        | Respondida a: #{r._.restResponse.date.format('dd MMM [as] h:mm')}
                                        if r.resrResponse.confirm
                                            .green-text e esta confirmada.
                                    else
                                        | O restaurante ainda nao respondeu.
            else
                p Nao tem reservas.

block js
    script.
        $(document).ready(function() {
            
        });
