extends ../layouts/default

block flash-messages

block content
    .dashboard.container
        .section#perfil
          h4 Olá #{user.name.full}
          form.section(method='post')
            input(type='hidden', name='action', value='update')
            .row
              .col.s12
                +flash-messages(messages)
              .col.s12.m6
                h5 Informação Pessoal
                .section
                  .input-field
                    input(id='name_first', type='text', class='validate', name='name.first', value=user.name.first)
                    label(for='name_first') Nome
                  .input-field
                    input(id='name_last', type='text', class='validate', name='name.last', value=user.name.last)
                    label(for='name_last') Apelido
                  .input-field
                    input(id='email', type='email', class='validate', name='email', value=user.email)
                    label(for='email') Email
              .col.s12.m6
                h5 Informação Pública
                .input-field
                  input(value)

            .row
              .col.s12.m6
                button.btn(type='submit') Guardar

          form.section(method='post')
            input(type='hidden', name='action', value='updatePassword')
            .row
              .col.s12.m6
                h5 Password
                .section
                  .input-field
                    input(id='password', type='password', name='password')
                    label(for='password') Nova password
                  .input-field
                    input(id='password_confirm', type='password', name='password_confirm')
                    label(for='password_confirm') Confirmar password
              .col.s12
                button.btn-flat.waves-effect(type='submit') Mudar Password
        .section.row



        #reserves
            h4 As suas reservas
            if data.reserv
                ul.collapsible.popout(data-collapsible="accordion")
                    each r in data.reserv
                        li
                            .collapsible-header
                                span.title #{r.restaurant.name}
                                | , #{r._.date.moment().fromNow()}
                                .right
                                    case r.state
                                        when 'null'
                                            i(class='material-icons red-text tooltipped', data-position='left', data-tooltip='Erro') error
                                        when 'sent'
                                              i(class='material-icons tooltipped', data-position='left', data-tooltip='Enviada') call_made
                                        when 'confirmed'
                                            i(class='material-icons green-text tooltipped', data-position='left', data-tooltip='Confimada') done
                                        when 'denied'
                                            i(class='material-icons red-text tooltipped', data-position='left', data-tooltip='Rejeitada') cancel
                                        when 'ended'
                                            i(class='material-icons green-text tooltipped', data-position='left', data-tooltip='Finalizada') done_all
                                        default
                                            i.material-icons error

                            .collapsible-body
                                p Reserva para #{r.party_size} pessoas no #{r.restaurant.name}, #{r._.date.moment().calendar()}.
                                    br
                                    | Criada a: #{r._.createdAt.format('L')}
                                    br
                                    if r.restResponse.date
                                        | Respondida a: #{r._.restResponse.date.format('DD MMMM [as] hh:mm')}
                                        if r.restResponse.confirm
                                            span  e esta confirmada.
                                    else
                                        | O restaurante ainda nao respondeu.
            else
                p Nao tem reservas.

block js
    script.
        $(document).ready(function() {

        });
