extends ../layouts/default

block ograph
	meta(property='og:url', content='http://beta.maitre.pt')
	meta(property='og:type', content='website')
	meta(property='og:title', content= __('og.index.title'))
	meta(property='og:description', content= __('og.index.description'))
	meta(property='og:image', content='http://beta.maitre.pt/images/hero/rest_hero.jpg')

	meta(name='twitter:card', content='summary_large_image')
	meta(name='twitter:site', content='@maitreApp')

block content
	.hero
			.hero--bg
				.hero--content.center.container
					h3
						|#{__('hero.line_001')}
						br
						|#{__('hero.line_002')}
						span
							.city
								span#city-pick Lisboa
								span.arrow
								ul.sub-menu
									each city in cidades
										li: span(value= city)= city
						//select.browser-default.select
							each city in cidades
								if city != 'Lisboa'
									option(value = 'Lisboa') Lisboa
									option(value= city)= city
					a#reserv.btn-flat(href='/restaurants/Lisboa') #{__('hero.button')}

	section.section.restaurants
		.container
			.section--title
				h3 #{__('features.title')}
			.row
				each rest in _.sampleSize(_.shuffle(restaurants), 4)
					.col.m6
						.card.small
							.card-image
								img(src= rest.image.url)
								//- img(src='https://source.unsplash.com/category/food/')
								span.card-title.card-title--index= rest.name
							.card-content
								p: small= 'Cozinha: ' + rest.cuisines
							.card-action
								a(href='rest/' + rest.key) #{__('cards.more')}
	section.section
		.container
			.section--title
				h3 #{__('how.title')}
			.row
				.col.s12.m4.center
					i.medium.material-icons search
					h5 #{__('how.col_1.title')}
					p #{__('how.col_1.text')}
				.col.s12.m4.center
					i.medium.material-icons date_range
					h5 #{__('how.col_2.title')}
					p #{__('how.col_2.text')}
				.col.s12.m4.center
					i.medium.material-icons credit_card
					h5 #{__('how.col_3.title')}
					p #{__('how.col_3.text')}

	section.section.grey.lighten-4
		.container
			h4 #{__('how.col_4.title')}
			p #{__('how.col_4.text')}
			h4 #{__('how.col_5.title')}
			p #{__('how.col_5.text')}
			h4 #{__('how.col_6.title')}
			p #{__('how.col_6.text')}
	section.hero--footer
		.container
			h3 #{__('MakeReservation')}
			a#reservFoot.btn-large(href='/restaurants/Lisboa') #{__('find')}


block js
	script.
		$(document).ready(function() {
			/*$.get("http://freegeoip.net/json/", function (response) {
				$('#city-pick').html(response.city)
			}, "jsonp");*/

			$('.city').on('click', function() {
				$('.sub-menu').toggleClass('drop')
			})

			$('.sub-menu li span').on('click', function() {
				var value = $(this).text()
				$('#city-pick').html(value);
				$('#reserv').attr('href', '/restaurants/' + convertToSlug(value));
				$('#reservFoot').attr('href', '/restaurants/' + convertToSlug(value));
			})

			/*$('.select').material_select();

			$('.select').on('change', function (e) {
			    var optionSelected = $("option:selected", this);
			    var valueSelected = this.value;
			    $('#reserv').attr('href', '/restaurants/' + convertToSlug(valueSelected));

			    console.log(convertToSlug(valueSelected));
			});*/

			function convertToSlug(Text) {
			    //return Text.toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-');
			    return Text;
			}

		});
