extends ../layouts/default

block ograph
	meta(property='og:url', content='http://beta.maitre.pt/rest/' + rest.key)
	meta(property='og:type', content='website')
	meta(property='og:title', content= rest.name)
	meta(property='og:description', content= 'Reservas Online')
	meta(property='og:image', content= rest.image.url)

	meta(name='twitter:card', content='summary_large_image')
	meta(name='twitter:site', content='@maitreApp')

block content
	//-.hero-rest--bg(style='background-image: url(' + rest.image.url + ')')
	.parallax-container
		.parallax
			img(src= rest.image.url)
	.container
		.restaurant--content
			form(method='post', action='/reserve').card
				.card-content
					span.card-title.header= rest.name
					.divider
					.row.section
						.col.s12.m4
							.center
								i.small.material-icons restaurant
								p.thin.grey-text #{__('restaurant.cuisines')}
								p= rest.cuisines
						.col.s12.m4
							.center
								i.small.material-icons location_city
								p.thin.grey-text #{__('restaurant.localization')}
								if rest.location.suburb
									if rest.location.suburb != rest.location.state
										p= rest.location.suburb
								p= rest.location.state
						.col.s12.m4
							.center
								i.small.material-icons monetization_on
								p.thin.grey-text #{__('restaurant.price_for_2')}
								p= '€' + rest.cost_for_two
					.section
						if rest.location.geo
							.section--map.
								<div id="map"></div>
								<script>
									function initMap() {
										var uluru = {lat: #{rest.location.geo[1]}, lng: #{rest.location.geo[0]}};
										var map = new google.maps.Map(document.getElementById('map'), {
											zoom: 16,
											center: uluru,
											scrollwheel:  false
										});
										var marker = new google.maps.Marker({
											position: uluru,
											animation: google.maps.Animation.BOUNCE,
											map: map
										});
									}
								</script>
								<script async defer src="https://maps.googleapis.com/maps/api/js?key=#{process.env.GOOGLE_BROWSER_KEY}&callback=initMap"></script>

					.section
						span.card-title #{__('restaurant.description')}
						.rest-description!= rest.description

					if rest.singular
						.divider
						.section
							if rest.singular.chef
								p= __('restaurant.singular.chef') + rest.singular.chef
							if rest.singular.awards
								p= __('restaurant.singular.awards') + rest.singular.awards
							if rest.singular.signatureDish
								p= __('restaurant.singular.known') + rest.singular.signatureDish
					.section
						.row
							.col.s12
								input(type='hidden', name='action', value='reserve')
								input(type='hidden', name='restaurant', value=rest.id)
								input(type='hidden', name='restName', value=rest.name)
								input(type='hidden', name='restEmail', value=rest.contact.email)

								.input-field.col.s12
									p.center-align #{__('restaurant.reserve.party')}
									select(name='party_size')
										option(value='2') #{__n('restaurant.reserve.people',2)}
										option(value='1') #{__n('restaurant.reserve.people',1)}
										option(value='3') #{__n('restaurant.reserve.people',3)}
										option(value='4') #{__n('restaurant.reserve.people',4)}
										option(value='5') #{__n('restaurant.reserve.people',5)}
										option(value='6') #{__n('restaurant.reserve.people',6)}
										option(value='7') #{__n('restaurant.reserve.people',7)}
										option(value='8') #{__n('restaurant.reserve.people',8)}
										option(value='9') #{__n('restaurant.reserve.people',9)}
										option(value='10') #{__n('restaurant.reserve.people',10)}
										option(value="11") #{__n('restaurant.reserve.people',11)}
										option(value="12") #{__n('restaurant.reserve.people',12)}
										option(value="13") #{__n('restaurant.reserve.people',13)}
										option(value="14") #{__n('restaurant.reserve.people',14)}
										option(value="15") #{__n('restaurant.reserve.people',15)}
										option(value="16") #{__n('restaurant.reserve.people',16)}
										option(value="17") #{__n('restaurant.reserve.people',17)}
										option(value="18") #{__n('restaurant.reserve.people',18)}
										option(value="19") #{__n('restaurant.reserve.people',19)}
										option(value="20") #{__n('restaurant.reserve.people',20)}
										

								.input-field.col.s12
									p.center-align #{__('restaurant.reserve.date')}
									select(name='day')
										each day, index in dates.pretty
											option(value= dates.ugly[index])= day
								.input-field.col.s12
									p.center-align #{__('restaurant.reserve.hour')}
									select(name='hour')
										each time in dates.intervals
											option(value= time)= time.format('LT')

				.card-action
					button(class='btn-flat', type='submit') #{__('restaurant.reserve.reserve')}
		hr
		p: a(href='/restaurants/' + rest.location.state) &larr; voltar à lista
block js
	script.
		$(document).ready(function(){
			$('.parallax').parallax();

			$('#qtyAdd').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        fieldName = $(this).attr('field');
		        // Get its current value
		        var currentVal = parseInt($('input[name='+fieldName+']').val());
		        // If is not undefined
		        if (!isNaN(currentVal)) {
		            // Increment
		            $('input[name='+fieldName+']').val(currentVal + 1);
		        } else {
		            // Otherwise put a 0 there
		            $('input[name='+fieldName+']').val(2);
		        }
		    });

		    // This button will decrement the value till 0
		    $('#qtyRemove').click(function(e) {
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        fieldName = $(this).attr('field');
		        // Get its current value
		        var currentVal = parseInt($('input[name='+fieldName+']').val());
		        // If it isn't undefined or its greater than 0
		        if (!isNaN(currentVal) && currentVal > 1) {
		            // Decrement one
		            $('input[name='+fieldName+']').val(currentVal - 1);
		        } else {
		            // Otherwise put a 0 there
		            $('input[name='+fieldName+']').val(1);
		        }
		    });

			$('select').material_select();
		});
