extends ../../layouts/default

block flash-messages
	//- intentionally blank

block content
	.container
		.card.card-center
			.card-content
				span.card-title Juntar-se à Maître
				.section.container
					form(method='post', action='/join')
						input(type='hidden', name='action', value='join')
						input(type='hidden', name='target', value=form.target)
						if form.error
							div!= form.error.message || form.error
							if form.error.errors && !_.isEmpty(form.error.errors)
								each error, key in form.error.errors
									div!= error.msg
						.row
							.col.s12.m10.offset-m1.input-field
								input(id='firstname', type='text', class='validate', name='firstname', value=form.firstname)
								label(for='firstname') Nome
							.col.s12.m10.offset-m1.input-field
								input(id='lastname', type='text', class='validate', name='lastname', value=form.lastname)
								label(for='lastname') Apelido
							.col.s12.m10.offset-m1.input-field
								input(id='email', type='email', class='validate', name='email', value=form.email)
								label(for='email') Email
							.col.s12.m10.offset-m1.input-field
								input(id='password', type='password', class='validate', name='password', value=form.password)
								label(for='password') Password

						.section.row
							.col.s12.m10.offset-m1
								+flash-messages(messages)
							.col.s12.m10.offset-m1
								button.btn(type='submit') Registar
						.divider
						.row
							.col.m6
								.section: small
									| Já tem conta?&nbsp
									a(href='/signin') Login


//-block js
	script.
		$('#modal-flash').modal('open');
