extends ../../layouts/default

block flash-messages
	//- intentionally blank
block content
	.container
		.card.card-center
			.card-content
				.logo
					img.responsive-img(src='http://res.cloudinary.com/duteihi26/image/upload/v1493291914/maitre_klgfe7.png')
				span.card-title #{__('form.join_title')}
				.section
					form(method='post', action='/join')
						input(type='hidden', name='action', value='join')
						input(type='hidden', name='target', value=form.target)
						if form.error
							div!= form.error.message || form.error
							if form.error.errors && !_.isEmpty(form.error.errors)
								each error, key in form.error.errors
									div!= error.msg
						.row
							.col.s12.input-field
								input(id='firstname', type='text', class='validate', name='firstname', value=form.firstname)
								label(for='firstname') #{__('form.firstName')}
							.col.s12.input-field
								input(id='lastname', type='text', class='validate', name='lastname', value=form.lastname)
								label(for='lastname') #{__('form.lastName')}
							.clearfix
							.col.s12.input-field
								input(id='email', type='email', class='validate', name='email', value=form.email)
								label(for='email') #{__('form.email')}
							.col.s12.input-field
								input(id='password', type='password', class='validate', name='password', value=form.password)
								label(for='password') #{__('form.password')}

						.section.row
							.col.s12
								+flash-messages(messages)
							.col.s12
								button.btn(type='submit') #{__('form.register')}
						.divider
						.row
							.col.m6
								.section: small
									| #{__('form.have_account')}
									a(href='/signin') #{__('nav.login')}
