extends ../../layouts/default

block flash-messages
	//- intentionally blank
block content
	.container
		.card.card-center
			.card-content
				.logo
					img.responsive-img(src='http://res.cloudinary.com/duteihi26/image/upload/v1493291914/maitre_klgfe7.png')
				span.card-title #{__('form.signin_title')}
				.section
					form(method='post', action='/signin')
						input(type='hidden', name='action', value='signin')
						input(type='hidden', name='target', value=form.target)
						if form.error
							div!= form.error.message || form.error
							if form.error.errors && !_.isEmpty(form.error.errors)
								each error, key in form.error.errors
									div!= error.msg
						.row
							.col.s12.input-field
								input(id='email', type='email', class='validate', name='email', value=locals.form ? locals.form.email : null)
								label(for='email') #{__('form.email')}
							.col.s12.input-field
								input(id='password', type='password', class='validate', name='password', value='')
								label(for='password') #{__('form.password')}

						.section.row
							.col.s12
								+flash-messages(messages)
							.col.s12
								button.btn(type='submit') #{__('nav.login')}
						.divider
						.row
								.col.m6
									.section: small
										| #{__('form.no_account')}
										a(href='/join') #{__('form.register')}

								.col.m6.right-align
									.section: small
										a(href='/forgot-password') #{__('form.forgot_password')}
