extends layouts/base

block content
  table.body(style='box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;', width='100%', bgcolor='#f6f6f6')
    tr
      td(style="box-sizing: border-box; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto; font-size: 14px; vertical-align: top;", valign='top')
      td.container(style="box-sizing: border-box; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto; font-size: 14px; vertical-align: top; display: block; margin: 0 auto !important; max-width: 580px; padding: 10px; width: 580px;", width='580', valign='top')
        .content(style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;')
          span.preheader(style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;') A Ma&icirc;tre tem uma reserva para o #{restname}.
          .header(style='box-sizing: border-box; margin-bottom: 30px; margin-top: 20px; width: 100%;')
            table(style='box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;', width='100%')
              tr
                td.align-center(style="box-sizing: border-box; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto; font-size: 14px; vertical-align: top; text-align: center;", valign='top', align='center')
                  a(href='http://www.maitre.pt', style='box-sizing: border-box; color: #1d083b; text-decoration: underline;')
                    img(src='http://res.cloudinary.com/duteihi26/image/upload/v1493291914/maitre_klgfe7.png', height='50', alt='Maitre', style='-ms-interpolation-mode: bicubic; max-width: 100%;')
          table.main(style='box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border: 1px solid #e9e9e9; border-radius: 3px;', width='100%')
            tr
              td.wrapper(style="box-sizing: border-box; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto; font-size: 14px; vertical-align: top; padding: 30px;", valign='top')
                table(style='box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;', width='100%')
                  tr
                    td(style="box-sizing: border-box; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto; font-size: 14px; vertical-align: top;", valign='top')
                      h2(style='color: #111111 !important; font-weight: 400; line-height: 1.4em; margin: 0; margin-bottom: 30px; font-size: 24px;') A Ma&icirc;tre tem uma reserva para o #{restname}.
                      p(style='font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; list-style-type: none;')
                        | O utilizador #{user} fez uma reserva na Ma&icirc;tre para o dia #{date.getDate()}, para #{attendees} pessoas &agrave;s #{date.toLocaleTimeString()}.
                      table.divider-wrapper(style='box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;', width='100%')
                        tr
                          td.divider-spacer(style="box-sizing: border-box; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto; font-size: 14px; vertical-align: top; padding: 20px 0;", valign='top')
                            table.divider.divider-(cellpadding='0', cellspacing='0', style='box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;', width='100%')
                              tr
                                td(style="box-sizing: border-box; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto; vertical-align: top; font-size: 0; border-top: 1px solid #ccc; line-height: 0; height: 1px; margin: 0; padding: 0;", valign='top')
                      p(style='font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; list-style-type: none;')
                        strong Detalhes da reserva:
                      ul(style='font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; list-style-type: none;')
                        li(style='list-style-position: inside; margin-left: 5px;') Nome: #{user}
                        li(style='list-style-position: inside; margin-left: 5px;') Data: #{date.toLocaleDateString()}
                        li(style='list-style-position: inside; margin-left: 5px;') Pessoas: #{attendees}
                      table.divider-wrapper(style='box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;', width='100%')
                        tr
                          td.divider-spacer(style="box-sizing: border-box; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto; font-size: 14px; vertical-align: top; padding: 20px 0;", valign='top')
                            table.divider.divider-(cellpadding='0', cellspacing='0', style='box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;', width='100%')
                              tr
                                td(style="box-sizing: border-box; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto; vertical-align: top; font-size: 0; border-top: 1px solid #ccc; line-height: 0; height: 1px; margin: 0; padding: 0;", valign='top')
                      p(style='font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; list-style-type: none;') Aguardamos a sua resposta.
                      table.btn.btn-primary(cellpadding='0', cellspacing='0', style='box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;', width='100%')
                        tr
                          td(align='', style="box-sizing: border-box; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto; font-size: 14px; vertical-align: top; padding-bottom: 15px;", valign='top')
                            table(cellpadding='0', cellspacing='0', style='box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;')
                              tr
                                td(style="box-sizing: border-box; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto; font-size: 14px; vertical-align: top; background-color: #1d083b; border-radius: 5px; text-align: center;", valign='top', bgcolor='#1d083b', align='center')
                                  a(href= responselink, style='box-sizing: border-box; border-color: #1d083b; text-decoration: none; background-color: #1d083b; border: solid 1px #1d083b; border-radius: 5px; cursor: pointer; color: #ffffff; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; display: inline-block;') Responder
      td(style="box-sizing: border-box; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto; font-size: 14px; vertical-align: top;", valign='top')


  //- p #{user}
  //- p #{restname}
  //- p #{attendees}
  //- p #{date}
  //- p #{id}
  //- p #{responselink}
